# Joining Sets

Sets in python more or less work in the same way as sets in mathematics. we can perform operations like union and intersection on the sets just like in mathematics. 

### I. union() and update():

The union() and update() methods prints all items that are present in the two sets. The union() method returns a new set whereas update() method adds item into the existing set from another set.

In [1]:
cities = {"Tokoyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokoyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.union(cities2)
print(cities3)

{'Madrid', 'Seoul', 'Delhi', 'Kabul', 'Tokoyo', 'Berlin'}

In [2]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.update(cities2)
print(cities)

{'Madrid', 'Seoul', 'Delhi', 'Tokyo', 'Kabul', 'Berlin'}

### II. intersection and intersection_update()

The intersection() and intersection_update() methods prints only items that are similar to both the sets. The intersection() method returns a new set whereas intersection_update() method updates into the existing set from another set.

In [3]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.intersection(cities2)
print(cities3)

{'Madrid', 'Tokyo'}

In [4]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.intersection_update(cities2)
print(cities)

{'Madrid', 'Tokyo'}

### III. Sysmmetric_difference and symmetric_difference_update():

The symmetric_difference() and symmetric_difference_update() methods print only items that are not similar to both the sets. The symmetric_difference() method returns a new set whereas symmetric_difference_update() method updates into the existing set from another.

In [2]:
cities = {"Tokoyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokoyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.symmetric_difference(cities2)
print(cities3)

{'Delhi', 'Kabul', 'Berlin', 'Seoul'}

In [3]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.symmetric_difference_update(cities2)
print(cities)

{'Delhi', 'Kabul', 'Berlin', 'Seoul'}

### IV. difference() and difference_update():

The difference() and difference_update() methods prints only items that are only present in the original set and not in both the sets. The difference() method returns a new set whereas difference_update() method updates into the existing set from another set.

In [4]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul", "Delhi"}
cities3 = cities.difference(cities2)
print(cities3)

{'Berlin', 'Tokyo', 'Madrid'}

In [5]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul", "Delhi"}
print(cities.difference(cities2))

{'Berlin', 'Tokyo', 'Madrid'}

# Set Methods

There are several in-built methods used for the manipulation of a set. They are explained below.

### isdisjoint():
The isdisjoint() method checks if items of given set are present in another set. This method returns False if items are present, else it returns True.

In [6]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
print(cities.isdisjoint(cities2))

False

### issuperset():
The issuperset() method checks if all the items of a particular set are present in the original set. It returns True if all the items are present, else it returns False.

In [7]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul"}
print(cities.issuperset(cities2))
cities3 = {"Seoul", "Madrid", "Kabul"}
print(cities.issuperset(cities3))

False
False

### issubset():
The issubset() method checks if all the items of the original set are present in the particular set. It returns True if all the items are present, else it returns False.

In [8]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Delhi", "Madrid"}
print(cities2.issubset(cities))

True

### add()
If we need to add a single item to the set use the add() method.

In [10]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.add("Helsinki")
print(cities)

{'Delhi', 'Madrid', 'Helsinki', 'Tokyo', 'Berlin'}