# Introduction to Loops
Sometimes a programmer wants to execute a group of statements a certain number of times. This can be done using loops. Based on this loops are further classified into following main types; 
 1. for loop
 2. while loop

## The for loop

for loop can iterate over a sequence of iterable objects in python. Iterating over a sequence is nothing but iterating over strings, lists, tuples, sets and dictionaries.

**iterating over a string**

In [5]:
name = 'Abhishek'
for i in name:
    print(i, end=",")

A,b,h,i,s,h,e,k,

**iterating over a list**

In [6]:
colors = ["Red", "Green", "Blue", "Yellow"]
for x in colors:
    print(x)

Red
Green
Blue
Yellow

**similarly, we can use loops for lists, sets and dictionaries.**

### Range():

when we want to use loop for a **specific number of time** we use range() function.

In [11]:
for k in range(5):
    print(k)

0
1
2
3
4

In [13]:
#here, we can see that the loop starts from 0 by default and increments
#at each iteration. but we can also loop over a specific range.

In [14]:
for k in range(4,9): 
    print(k)

4
5
6
7
8

**Quiz: Explore about the third parameter in range (i.e, range(x,y,z))**

In [18]:
for k in range(4,16):
    print(k)

4
5
6
7
8
9
10
11
12
13
14
15

In [20]:
for k in range(4,16,1):
    print(k)

4
5
6
7
8
9
10
11
12
13
14
15

In [21]:
for k in range(4,16,2):
    print(k)

4
6
8
10
12
14

1. The default value of the third parameter in the range is 1.
2. The third parameter represents incremental value.
   example: start with 4, increment by 2, and stop at 16 (while the stop value is not included, 16)